In [1]:
import numpy as np

In [5]:
import pandas as pd

# Seriler

In [4]:
benimSozluk={"Atil":50,"Zeynep":40,"Mehmet":30}

In [6]:
pd.Series(benimSozluk) # sözlüğümüzü seri haline getiridk.

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [8]:
benimYas=[40,30,50]
benimİsim=["mehmet","atil","zeynep"]

In [9]:
pd.Series(benimYas) # yaşları seri şekline çevirdi.

0    40
1    30
2    50
dtype: int64

In [10]:
pd.Series(benimYas,benimİsim) # iki diziyi beraber aldık.

mehmet    40
atil      30
zeynep    50
dtype: int64

In [11]:
numpyDizisi=np.array([30,40,50]) # numpy dizisi haline getirdik.

In [12]:
numpyDizisi

array([30, 40, 50])

In [13]:
pd.Series(numpyDizisi) # seri haline çeviridk.

0    30
1    40
2    50
dtype: int32

In [8]:
pd.Series(["atlas","atil","osman"],[1,2,3]) # farklı veri tipi yazdık ve indekslere yerleştirdik.

1    atlas
2     atil
3    osman
dtype: object

In [9]:
yarismaSonucu1=pd.Series([10,5,1],["atlas","atil","osman"]) # bu şekilde atama yapabiliyoruz

In [10]:
yarismaSonucu1

atlas    10
atil      5
osman     1
dtype: int64

In [11]:
yarismaSonucu2=pd.Series([20,10,8],["atlas","atil","osman"]) # 2. yarışma sonuçları

In [12]:
yarismaSonucu2

atlas    20
atil     10
osman     8
dtype: int64

In [13]:
yarismaSonucu2["atlas"]  # yarışma 2'de atlasın kaç puan aldığını sorduk

20

In [14]:
sonSonuc=yarismaSonucu1+yarismaSonucu2 # iki yarışma sonucunun toplamını bu şekilde yazabiliriz.

In [15]:
sonSonuc

atlas    30
atil     15
osman     9
dtype: int64

In [16]:
series1=pd.Series([20,30,40,50],["a","b","c","d",])

In [17]:
series2=pd.Series([10,5,3,1],["a","c","f","g"])

In [18]:
sonSeries=series1+series2

In [19]:
sonSeries  # aynı isimde olanları topladı bulamadıklarına nan yazdı.Kod çökmedi

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64