In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("istanbul_temp.txt",skiprows=22,header=None,names=["STAID","SOUID","DATE","TG","Q_TG"]) 
# 22 satır atlayıp okumaya başladık.

In [3]:
data.tail() # tablonun en altını tail komutu sayesinde gördükgördük

       STAID   SOUID      DATE    TG  Q_TG
32410    248  101231  20170926 -9999     9
32411    248  101231  20170927 -9999     9
32412    248  101231  20170928 -9999     9
32413    248  101231  20170929 -9999     9
32414    248  101231  20170930 -9999     9

In [4]:
data.head()

   STAID   SOUID      DATE   TG  Q_TG
0    248  101231  19290101  126     0
1    248  101231  19290102  133     0
2    248  101231  19290103  131     0
3    248  101231  19290104  118     0
4    248  101231  19290105  106     0

In [5]:
data=data[data["Q_TG"]!=9] #tabloda 9 olmayan kısımları seçtik

In [6]:
data.tail()

       STAID   SOUID      DATE   TG  Q_TG
27419    248  101231  20040127   36     0
27420    248  101231  20040128   85     0
27421    248  101231  20040129  128     0
27422    248  101231  20040130   78     0
27423    248  101231  20040131   46     0

In [7]:
data.Q_TG.unique()

array([0, 1], dtype=int64)

In [8]:
data.DATE=pd.to_datetime(data.DATE,format="%Y%m%d")# tarih ve zaman için datetime nesnesini oluşturduk.

In [9]:
data.DATE.head()

0   1929-01-01
1   1929-01-02
2   1929-01-03
3   1929-01-04
4   1929-01-05
Name: DATE, dtype: datetime64[ns]

In [10]:
data.head()

   STAID   SOUID       DATE   TG  Q_TG
0    248  101231 1929-01-01  126     0
1    248  101231 1929-01-02  133     0
2    248  101231 1929-01-03  131     0
3    248  101231 1929-01-04  118     0
4    248  101231 1929-01-05  106     0

In [11]:
data.TG=data.TG*0.1

In [12]:
data_yearly=data.resample("AS").mean() #resample(AS)=yıllık grupluyor .yıllık sıcaklık ortalamalarını getiriyor

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [ ]:
data_yearly.head()

now plot these yearly avearges

In [ ]:
data_yearly.TG.plot()

In [ ]:
data_yearly.tail()

In [ ]:
yearly_size=data.resample("AS").size()

In [ ]:
yearly_size.tail()

In [ ]:
yearly_size!=365

We got a boolen series, if we insert this series into yearly_size series, 
we will get rows that are true

In [ ]:
yearly_size[yearly_size!=365]

All the rows except of the last one has 366
<br> so this years are leap years

Accesing data for certain years
<br> let's get the yearly_size information only for the years between 1950 and 1960

try first yearly_size[1950:1960], see what happens

In [ ]:
yearly_size[1950:1960]

we didn't get anything because our index is a datetime index and we should enquiry with the same data structure

we write the date either in string format :
<br> yearly_size["1/1/1950":"1/1/1960"]

In [ ]:
yearly_size["1/1/1950":"1/1/1960"]

or, we can create a datetime object for this
<br> first, import datetime object and create timestamps for 1950 and 1960

In [ ]:
from datetime import datetime

In [ ]:
t1=datetime(1950,1,1)

In [ ]:
t1

In [ ]:
type(t1)

we can put these datetime objects as indeces for time series

In [ ]:
yearly_size[datetime(1950,1,1):datetime(1960,1,1)]

## Plot average temperatures in March over the years

First, get montly averages
<br> create a time series for monthy averages, name this series montly

In [ ]:
monthly=data.TG.resample("M").mean()

check the top of this series

In [ ]:
monthly.head()

We got the averages for each monthy
<br> but we are interested in only march months

Since our index is a datetime object, one good feature of this object is that we can get such information like month,day,hour etc
<br>try: monthly.index.month

In [ ]:
monthly.index.month

here 1 is for jan, 2 is for feb and so on 
<br> if we select rows whose monthly.index.month is equal to 3, then we select march months

In [ ]:
monthly.index.month==3

if you put this boolean array into monthly time series as a index, you will get data for only march months
<br> we create a new series for marches

In [ ]:
monthy_march=monthly[monthly.index.month==3]

see the top lines of this monthy_march series

In [ ]:
monthy_march.head()

Let's plot this average temperatures

In [ ]:
monthy_march.plot()